
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				<a href="~/Film-Review-Movie-Database/index-2.html"><img class="logo" src="~/Film-Review-Movie-Database/images/logo1.png" alt=""></a>
				<p>
					Cumhuriyet Caddesi No:24<br>
					Bostancı, Kadıköy - İstanbul
				</p>
				<p>Bize Ulaşın: <a href="~/Film-Review-Movie-Database/#">(+90) 500 400 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Hızlı Erişim Linkleri</h4>
				<ul>
					<li><a href="~/Film-Review-Movie-Database/#">Hakkımızda</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Filmler</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Diziler</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Bize Yazın</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Forum</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Blog</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>KVKK</h4>
				<ul>
					<li><a href="~/Film-Review-Movie-Database/#">Kullanım Şartarı</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Gizlilik Politikası</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Güvenlik</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Hesabım</h4>
				<ul>
					<li><a href="~/Film-Review-Movie-Database/#">Profilim</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">İzleme Listem</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Koleksiyonlarım</a></li>
					<li><a href="~/Film-Review-Movie-Database/#">Kullanıcı Rehberi</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>E-Posta Bülteni</h4>
				<p>Son çıkan film ve dizilerden haberdar olmak <br> için hemen abone olun.</p>
				<form action="#">
					<input type="text" placeholder="E-Posta Adresiniz...">
				</form>
				<a href="~/Film-Review-Movie-Database/#" class="btn">Abone Ol <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="~/Film-Review-Movie-Database/https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Yukarıya Dön <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>

