
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> @ViewBag.movieList</h1>
					<ul class="breadcumb">
						<li class="active"><a href="~/Film-Review-Movie-Database/#">@ViewBag.conrollerName</a></li>
						<li> <span class="ion-ios-arrow-right"></span> @ViewBag.movieListing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
